{% extends 'women/base.html' %}

{% block content %}
<body>
    
    <h1 class="cena">Ceny</h1>

    <p class="ceny_text">Ceny jsou kalkulovány <b>INDIVIDUÁLNĚ</b> po dohodě s klientem. Nelze tu stanovit přesná cena, záleží na obtížnosti stavby, stáří zdiva, rozsahu prací, použitého materiálu atd. </p>

    <p class="ceny_text">Stanovená cena je včetně materiálu, dodávky a montáže rohových lišt a okenních apu lišt, zakrytí otvorů fólií, veškeré dopravy a konečného hrubého úklidu. O nic se tak nemusíte během realizace starat. Nemusíte se taktéž bát, že by Vám byly připočítány nějaké extra dodatečné poplatky. Vše je již zahrnuto v ceně, která Vám bude zaslána.</p>

    <p class="ceny_text">Pro stanovení ceny a volného termínu preferujeme kontakt přes e-mail či formulář v sekci “Kontakt”.</p>

    <h3 class="ceny_text_h3">Do e-mailu nejlépe sdělte tyto informace:</h3>
    <div class="ceny_text_h">
        <p>- kde se stavba nachází,</p>
        <p>- kdy máte v plánu omítky realizovat,</p>
        <p>- zda se jedná o novostavbu či staré zdivo,</p>
        <p>- o jaký typ omítky máte zájem,</p>
        <p>- jaký je zhruba rozsah prací (cca odhad m2),</p>
        <p>- z jakého materiálu máte vyzděno.</p>
    </div>
    <p class="ceny_text">Na tomto základě Vám můžeme obratem zaslat cenovou nabídku a volný termín k realizaci. <br> Pokud preferujete kontakt přes telefon, volejte <b>774675115.</b></p>
    <p class="ceny_text">Naším cílem je poskytnout Vám co nejlepší cenu ve špičkové kvalitě, tak aby obě strany byly 100% spokojeny. <br> Zaručujeme 100% kvalitu odvedené práce, dodržení domluvených termínů a rychlost provedení.</p>
</body>
{% endblock %}
