{% extends 'women/base.html' %}

{% block content %}
<body id="body__fotografie">
    <div class="fotog">
        <div id="foto1" class="fotoo"></div>
        <div id="foto2" class="fotoo"></div>
        <div id="foto3" class="fotoo"></div>
        <div id="foto4" class="fotoo"></div>
        <div id="foto5" class="fotoo"></div>
        <div id="foto6" class="fotoo"></div>
        <div id="foto7" class="fotoo"></div>
        <div id="foto8" class="fotoo"></div>
        <div id="foto9" class="fotoo"></div>
    </div>
</body>
{% endblock %}