{% extends 'women/base.html' %}

{% block content %}
<body>
	<div class="index__back">
		<div class="section-overlay">
			<div class="rectangle">
				<h1 class="h1_rectangle">STROJNÍ OMITKY</h1>
				<h3 class="h3_rectangle">realizace vnitřních <br> omítek a fasád</h3>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="line__box">
			<div class="line"></div>
		</div>
		<p class="text_content">
			Hledáte šikovné a spolehlivé odborníky, kteří se Vám kompletně postarají o vnitřní omítky? Společnost MYDYANKA S.R.O omítky realizuje veškeré typy omítek pomocí strojního omítání, které jsou žádané na českém i evropském trhu!	
		</p>
		
		<div>
			<h2>Průběh spolupráce s námi</h2>
			<div class="line__box">
				<div class="line"></div>
			</div>
			<div class="sp_number">1</div>
			<div class="ps_text">Nacenění a osobní schůzka</div>
			<div class="sp_number">2</div>
			<div class="ps_text">Smlouva a záloha na materiál</div>
			<div class="sp_number">3</div>
			<div class="ps_text">Realizace a doplacení služby</div>
		</div>
		<div>
			<h2 class="h2_o_nas">O nás</h2>
			<div class="line__box">
				<div class="line"></div>
			</div>

			
			<div class="text_o_nas">MIDYANKA s.r.o. působí v oboru strojních omítek od roku 2012. Zakladatel společnosti působil v předchozích letech, jako pracovník stavební firmy kde se podílel přímo na realizaci a provádění strojních omítek a dále jako technický pracovník firmy.

				V letech 2012 zakládá vlastní řemeslnou firmu. Zaměření firmy je především kladeno na provádění strojní vápenocementové a sádrové omítky s důrazem na využití nových prvků a jejich řešení ve výstavbě dnešních rodinných domů a občanských staveb.
				
				Naše dlouholeté zkušenosti a stále se zdokonalující pracovníci naší firmy v oboru strojních omítek jsou zárukou kvality našich služeb a vaší spokojenosti.</div>
		</div>
	</div>


</body>
{% endblock %}
